# Required as we use "bundledDepenencies". See https://pnpm.io/npmrc#node-linker
node-linker=hoisted
# Token will be inserted using environment variable
//registry.npmjs.org/:_authToken=${NPM_AUTH_TOKEN}